/* CABEÇALHO
 - titulo
 - 
 */

.cabecalho {
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
    margin-bottom: 2rem;

}
.cabecalho__titulo-caixa {
    width: 40%;
    align-items: center;
    gap: 0.2rem;
}
.cabecalho__titulo-caixa img {
    width: 1.3rem;
}
.cabecalho__titulo {
    color: var(--cor-contraste-escuro);
    font-size: var(--fonte-tamanho-16);
    font-weight: var(--fonte-peso-700);
}
/* CABEÇALHO
- Menu navegação
*/
.cabecalho__menu-nav{
    width: 60%;
    justify-content: flex-end;
}
/* .cabecalho__menu-nav-caixa {

} */
.cabecalho__menu-nav-item {
    display: none;
}
.cabecalho__menu-nav-item a{
    font-size: var(--fonte-tamanho-14);
    font-weight: var(--fonte-peso-400);
    color: var(--cor-contraste-escuro);
    text-decoration: none;
}
.cabecalho__menu-nav-item:last-child {
    font-weight: var(--fonte-peso-400);
    display: block;
}

/* CHAMADA 
- Imagem
- apresentação
- links
*/
.chamada{
    margin-bottom: 1rem;
}
.chamada__image-caixa {
    height: 98px;
    margin-bottom: 1rem;
    width: 98px;
}
.chamada__image-caixa img{
    width: 98px;
    height: 98px;
    border-radius: 100%;
}
.chamada__titulo-principal-caixa {
    margin-bottom: 1rem;
    
}
.chamada__titulo-principal{
    font-size: var(--fonte-tamanho-22);
    font-weight: var(--fonte-peso-700);
}
.chamada__titulo-secundario{
    font-size: var(--fonte-tamanho-14);
    font-weight: var(--fonte-peso-400);
    margin-bottom: 1rem;
}
.chamada__menu {
   width: 100%;
}
.chamada__menu-caixa {
    width: 100%;
    justify-content: space-between;
}
.chamada__menu-item a{
    color: var(--cor-contraste-escuro);
    font-size: var(--fonte-tamanho-14);
    font-weight: var(--fonte-peso-600);
    text-decoration: none;
}

/*
SOBRE MIM
*/
.sobre-mim {
background-color: var(--cor-bc-sobremim);
padding-top: 1rem;
padding-bottom: 1rem;
}

/* .sobre-mim__caixa{
    
} */

.sobre-mim__titulo-caixa {
    padding-bottom: 1rem;
}
.sobre-mim__titulo {
    font-size: var(--fonte-tamanho-22);
    font-weight: var(--fonte-peso-700);
}
.sobre-mim__paragrafo-caixa {
    padding-bottom: 1rem;
}
.sobre-mim__paragrafo-caixa p {
    font-size: var(--fonte-tamanho-14);
    font-weight: var(--fonte-peso-400);
}
.sobre-mim__paragrafo-caixa p:first-child {
    padding-bottom: 1.2rem;
}

/*
MAIN - SKILL
*/
.skill {
    padding-bottom: 1rem;
}
.skill__titulo-caixa {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.skill__titulo {
    font-weight: var(--fonte-peso-700);
    font-size: var(--fonte-tamanho-22);
    text-align: center;
}
.skill__itens-caixa {
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.skill__item {
    background-color: var(--cor-contraste-claro);
    border-radius: 0.1rem;
    font-weight: var(--fonte-peso-700);
    font-size: var(--fonte-tamanho-16);
    padding: 1rem;
    text-align: left;
    width: 9rem;
}
.skill__item i {
    margin-right: 5rem;
    padding-bottom: 0.5rem;
}
/*
MAIN - HOBBBIES
*/
.hobby {
    padding-bottom: 1rem;
}
.hobby__titulo-caixa {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.hobby__titulo {
    font-weight: var(--fonte-peso-700);
    font-size: var(--fonte-tamanho-22);
    text-align: center;
}
.hobby__itens-caixa {
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.hobby__item {
    background-color: var(--cor-contraste-claro);
    border-radius: 0.1rem;
    font-weight: var(--fonte-peso-700);
    font-size: var(--fonte-tamanho-16);
    padding: 1rem;
    text-align: left;
    width: 9rem;
}
.hobby__item i {
    margin-right: 5rem;
    padding-bottom: 0.5rem;
}