@import url(_reset.css);
@import url(_variaveis.css);

*{
	box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria);
	color: var(--cor-contraste-escuro);
	font-family: var(--fonte-familia-corpo);
	overflow-x: hidden;
	
}

.borda{
	border: solid 1px red;
}
.font-awesome {
	color: var(--cor-primaria);
	font-size: 2rem;
}
.chamada__font-awesome {
	color: var(--cor-contraste-escuro);
	font-size: 0.8rem;
	margin-left: 0.2rem;
}

.container {
	padding-right: 1rem;
	padding-left: 1rem;
	width: 100%;
}
.flex {
	display: flex;
}

.flex--center {
	align-items: center;
	justify-content: center;
}

.flex--column {
	flex-direction: column;
}
.flex--row {
	flex-direction: row;
}
.flex--wrap {
	flex-wrap: wrap;
}

@media (min-width: 650px) {
	.container {
		padding-right: 2rem;
		padding-left: 2rem;

	}
	
}

@media (min-width: 992px) {
	.container {
		padding-left: 9.5rem;
		padding-right: 9.5rem;
	}
}